@charset "UTF-8";
body {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  background-color: #ff7b73;
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}

.title,footer
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.4em;
  margin: auto;
  align-content: center;
  text-align: center;
}